:root {
    --primary-color: #1af;
    --secondary-color: Violet;
    --dark-color: #111;
    --light-color: #999;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    background-color: var(--dark-color);
    padding: 1rem;
    display: grid;
    place-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightblue;
}

.card {
    background-color: var(--light-color);
    height: 300px;
    width: 250px;
    margin: 2rem 0;
}
