:root {
    --primary-color: #1af;
    --secondary-color: Violet;
    --dark-color: #111;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    background-color: var(--dark-color);
}
